<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dbService" class="com.qihoo.study.thrift.ThriftServiceClientProxyFactory">
		<property name="service" value="com.qihoo.study.thrift.Calculator"></property>
		<property name="serverAddress" value="127.0.0.1:9099"></property>
		<property name="maxActive" value="5"></property>
		<property name="idleTime" value="10000"></property>
	</bean>

</beans>